# Puertos expuestos en el host
API_PORT=8010
POSTGRES_HOST_PORT=5437

# Base de datos local de desarrollo
POSTGRES_DB=lwe_auth_db
POSTGRES_USER=lwe_user
POSTGRES_PASSWORD=change_me_for_local_development
